<section>
    
  <div class="container">
    <div class="row">
        <a href="/admin/add-product" class="btn btn-success ml-auto" style="margin-top: 10px; margin-bottom: 10px;">Add Product</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      {{#each products}}
        <tbody>
          <tr>
            <th scope="row">{{@index}}</th>
            <td><img
                style="width: 50px;height:50px;object-fit: scale-down;"
                src="/product-images/{{this._id}}.jpg"
                alt=""
              /></td>
            <td>{{this.tile}}</td>
            <td>{{this.category}}</td>
            <td>{{this.Description}}</td>
          </tr>
        </tbody>
      {{/each}}
    </table>
  </div>

</section>